<div class="container">
	


	<div class="row">
	
		<div class="col-md-4 logo"><h3>LOGO GOES HERE</h3></div>

		<div class="col-md-8">

			<nav class="navbar navbar-default links-bar" role="navigation">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!--<a class="navbar-brand" href="#">Brand</a>-->
				</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

					<ul class="nav navbar-nav top-nav">
						<li><a href="#">Home</a></li>
						<li><a href="#">General Information</a></li>
						<li><a href="#">Airlines & Jobs</a></li>
						<li><a href="#">Flight Schools</a></li>
					</ul>
				</div><!-- /.navbar-collapse -->
			</nav>

		</div>

	</div>

	<div class="row">

		<div class="col-md-12"><%= image_tag("banner.png", :class => "img-responsive") %></div>

	</div>

	<div class="row">

		<div class="col-md-12">

			<div class="jumbotron landing">
				<h2>Allowing aspiring pilots to make informed decisions</h2>
				<p>It becomes increasingly important to be able to make well researched and informed decisions if you are planning to be a successful aviator in your career. _____ allows you to get an overview of opportunities applicable to you and research them thoroughly.</p>
				<p>Start by finding airline programs, flight schools and/or jobs.</p>

				<p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
			</div>

		</div>

	</div>

	<!--<div class="row">

		<div class="col-md-7 intro">
			<div class="page-header">
				<h1>So you want to fly</h1>
			</div>
			<p>In today's world becoming a pilot, be it an airline pilot, a military pilot, a cargo hauler or any other sort of pilot is a task that takes a mix of time, money and willpower. It is by far not as glamorous a career as it is made out to be and in modern times likely requires a fair share of sacrifices of the pilot, especially in the early years of employment. This is where thorough knowledge of opportunities and application processes comes in handy, exactly what this site is planning to provide.</p>

		</div>

	</div>-->


	<!--<div class="row">
		<div class="col-md-2">
			<h1>LOGO</h1>
		</div>
		<div class="col-md-10">
			<a href="#">Some Link</a>
			<a href="#">Some Link</a>
		</div>
	</div>-->
</div>
