<div class="container">
	<div class="row">
		<div class="col-md-2">
			<h1>LOGO</h1>
		</div>
		<div class="col-md-10">
			<a href="#">Some Link</a>
			<a href="#">Some Link</a>
		</div>
	</div>
</div>
