<% provide(:title, @user.name) %>
<div class="row">
  <div class="col-md-12 content">

  	<% flash.each do |key, value| %>
      <div class="alert alert-<%= key %> top-m-20"><%= value %></div>
    <% end %>

    <h1>Personal site of <%= @user.name %></h1>

  </div>
</div>