<div class="row">
	<div class="col-md-12 content">

		<h1 class="lighter"><%= @opportunities.first.airline.airline_name %></h1>

		<table class="table table-bordered table-thick-border bottom-m-0 top-m-20 lighter">
			<thead>
				<tr>
					<th>Opportunity name</th>
				</tr>
			</thead>
			<% @opportunities.each do |opportunity| %>
				<tr>
					<td><%= link_to opportunity.opportunity_name, opportunity %></td>
				</tr>
			<% end %>
		</table>
	</div>
</div>