@import "bootstrap";
body {
	padding-top: 30px;
}
.col-md-4 {
    background-color: #ddd;
}

.links-bar {
	margin-top: 12px;	
}

.logo {
	height: 80px;
}

.top-nav a {
	margin-left:30px;
}
/*.navbar-btn {
	margin-right: 70px;
	&:first-child {
		margin-left:60px; has to be 10px less than margin-right above
	}
}
//navbar link padding*/