.company-logo {
	margin-top:-5px;
}

.rating-icon {
	height:20px;
	margin-top: -6px;
	margin-right:5px;
}
.rating-badge {
	display: inline-block;
	margin-top:16px;
	padding:10px;
	border:2px solid;
	font-size:15px;
}
.ruby {
	border-color: #b84343;
	background: #f2dada;
}
.gold {
	border-color: #ffcc00;
	background: #fffae6;
}
.silver {
	border-color: #cccccc;
	background: #f2f2f2;
}
.bronze {
	border-color: #c49662;
	background: #f2e7da;
}

.table-thick-border {
	border-width: 5px;
}